body {
    padding-bottom: 0;
}

.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(32, 2, 53, 0.87);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: rgb(238, 255, 2);
    text-decoration: none;
}

/*
 * Carousel
 */
img {
    opacity: 0.6;
}


/*
 * Background Image
 */
 .background-img {
     background-image: url('/assets/img/shu15.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 }

 .bg-transparent {
     background: inherit;
 }



 /* 
 *Contct Form
 */

 .md-form {
    font-size: 25px;
 }

/*
 * Footer
 */

 footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px 5px 0px 5px;
 }

 .social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }

 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-yellow {
    background-color: yellow;
}

/* Bootstrap overrides */
.bg-dark {
    background-color: #723094;
}